@model ShopOnlineConnection.SanPham
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<style>

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #000000;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #778899;
        }
    h1 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
</style>
<h1>Chỉnh sửa sản phẩm</h1>
@using (Html.BeginForm("Edit", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="width:75%; margin:auto">
        <tr>
            <td>Mã sản phẩm</td>
            <td> <input style="width: 300px; float:left; " maxlength="11" type="text" name="MaSP" required  readonly value="@Model.MaSP"/></td>
            <td rowspan="12">
            </td>
        </tr>
        <tr>
            <td>Mã loại sản phẩm</td>
            <td>
                @Html.DropDownList("MaLoaiSP", null, new { @style = "float:left; width:300px;height: 35px ;" })
            </td>
        </tr>
        <tr>
            <td>Tên sản phẩm</td>
            <td><input style="width:300px; float:left; height:35px" type="text" name="TenSP" maxlength="11" required value="@Model.TenSP" /></td>
        </tr>
        <tr>
            <td>Hình Chính</td>
            <td><input type="file" id="file_Hinh" name="HinhChinh" onchange="previewFile();" style="float:left" /></td>
        </tr>
        <tr>
            <td>Hình 1</td>
            <td><input type="File" id="file_Hinh1" name="Hinh1" style="float:left" /></td>
        </tr>
        <tr>
            <td>Hình 2</td>
            <td><input type="File" id="file_Hinh2" name="Hinh2" style="float:left" /></td>
        </tr>
        <tr>
            <td>Hình 3 </td>
            <td><input type="File" id="file_Hinh3" name="Hinh3" style="float:left" /></td>
        </tr>
        <tr>
            <td>Hình 4</td>
            <td><input type="File" id="file_Hinh4" name="Hinh4" style="float:left" /></td>
        </tr>

        <tr>
            <td>Giá</td>
            <td><input style="width:300px; float:left; height:35px" type="number" name="Giá" value="@Model.Giá" /></td>
        </tr>
        <tr>
            <td>Ghi chú</td>
            <td><input style="width:300px; float:left; height:35px" type="text" name="GhiChu" value="@Model.GhiChu" /></td>
        </tr>

        <tr>
            <td>Nhà sản xuất</td>
            <td>
                @Html.DropDownList("MaNSS", null, new { @style = "float:left; width:300px;height: 35px ;" })
            </td>
        </tr>

        <tr>
            <td style="width:300px;">Cấu hình</td>
            <td><input style="width:300px; float:left; height:35px" type="text" name="CauHinh" value="@Model.CauHinh"/></td>
        </tr>

        <tr>
            <td colspan="3">
                <input style="height: 40px; width: 300px; margin-left: 32%; background: #01bc7e; color:#fff; border: 1px solid #eee; border-radius:20px; box-shadow: 5px 5px 5px #eee;"
                       type="submit" name="btn_ThemDienThoai" value="Xác nhận chỉnh sửa" />
            </td>
        </tr>
    </table>
}


