@model IEnumerable<ShopOnlineConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    table, td, th {
    }

    table {
        border-collapse: collapse;
        width: 70%;
        text-align: center;
        margin: auto;
    }

    th {
        background-color: #FFFFCC;
        color: black;
    }

    td {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-top:50px;
        margin-bottom: 50px;
    }
</style>

<h1>Quản lý Sản phẩm</h1>
<table>
    <tr>
        <th><b>Mã sản phẩm</b></th>
        <th><b>Tên sản phẩm</b></th>
        <th><b>Hình ảnh</b></th>
        <th><b>Tình Trạng</b></th>
        <th colspan="2">
            <a href="@Url.Action("Create", "SanPhamAdmin")"><img src="~/Areas/AssetAdmin/img/add.png" style="margin: auto" /></a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSP</td>
            <td>@item.TenSP</td>
            <td><img src="~/Asset/img/@item.HinhChinh" style="width: 65px; height: 75px;" /></td>
            <td>@item.TinhTrang</td>
            <td><a href="@Url.Action("Edit", "SanPhamAdmin", new { id = @item.MaSP })"><img src="~/Areas/AssetAdmin/img/edit.png" /></a></td>
            <td><a href="@Url.Action("Delete", "SanPhamAdmin", new { id = @item.MaSP })"><img src="~/Areas/AssetAdmin/img/delete.png" /></a></td>
        </tr>
    }


</table>


