@model IEnumerable<ShopOnlineConnection.NhaSanXuat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    table, td, th {

    }

    table {
        border-collapse: collapse;
        width: 70%;
        text-align: center;
        margin: auto;
    }

    th {
        background-color: #FFFFCC;
        color: black;
    }

    td {
        text-align: center;
    }
    h1 {
        text-align: center;
        margin-top: 50px;

    }
</style>

    <h1>Quản lý Nhà Sản Xuất</h1>
    <table>
        <tr>
            <th><b>Mã nhà sản xuất</b></th>
            <th><b>Tên nhà sản xuất</b></th>
            <th><b>Tình Trạng</b></th>
            <th colspan="2">
                <a href="@Url.Action("Create", "NhaSanXuatAdmin")"><img src="~/Areas/AssetAdmin/img/add.png" style="margin: auto" /></a>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaNSS</td>
                <td>@item.TenNSS</td>
                <td>@item.TinhTrangNSS</td>
                <td><a href="@Url.Action("Edit", "NhaSanXuatAdmin", new { id = @item.MaNSS })"><img src="~/Areas/AssetAdmin/img/edit.png" /></a></td>
                <td><a href="@Url.Action("XoaTamThoi", "NhaSanXuatAdmin", new { id = @item.MaNSS })"><img src="~/Areas/AssetAdmin/img/delete.png" /></a></td>
            </tr>
        }


    </table>

